#map-canvas{
  height: 500px;
  width:500px;
  margin: 0 auto;
  padding: 0px;
  font-family: 'Gafata', sans-serif;
  font-weight: bold;
}

#panel {
  top: 10px;
  z-index: 5;
  padding-bottom:10px;
  font-weight:300;
  text-align:center;
  margin:0 auto;
  input{
    width:100%;
    text-align:center;
  }
  label{
    font-size:1.5em;
  }
  .panel-inputs{
    justify-content:center;
    align-items:center;
  }
}