//main section
.header {
    background: url("/images/bg.jpg") no-repeat center center;
    background-size: cover;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    display:flex;
    height:100vh;
    width:auto;
    h1{
      @include bp(xs){
        font-size:14vw;
      }
    }
}
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex:1;
}
.opaque-bg {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

//About me
.avatar {
    border-radius: 50%;
    width: 20%;
    margin-bottom:1em;
    @include bp(xs){
      width:45%;
    }
}

.sign {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.aboutme p {
    font-weight: 100;
    margin:0 auto;
    width:50%;
    @include bp(xs){
    width:90%;
    }
}

#rsvp{
  overflow-x:hidden;
}

//Registry
.logo{
  padding:.5em;
  img{
    width:50%;
  }
}

.fa-envelope{
  color: $salmon !important;
}