//main section
.welcome {
    background: url("/images/bg.jpg") no-repeat center center;
    background-size: cover;
    height:100vh;
    display:flex;
    h1{
      @include bp(xs){
        font-size:14vw;
      }
    }
}
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex:1;
}
.opaque-bg {
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.4);
}

//About me
.avatar {
    border-radius: 50%;
    width: 20%;
    margin-bottom:10px;
}

.sign {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.aboutme p {
    font-weight: 100;
    margin:0 auto;
    width:50%;
}

//Registry
.logo{
  padding:.5em;
  img{
    width:50%;
  }
}