html {
    box-sizing: border-box;
}

body {
    font-family: 'Poiret One', cursive !important;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    outline: 0 !important;
}

.headline {
    color: white;
    font-size: 6vw;
}
.date{
  color:white;
  font-family: 'Dancing Script', cursive;
}

h1 {
    color: #FF6363;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #484848;
}

.section {
    text-align: center;
}

.hide {
    display: none;
}

.display {
    display: block;
}
