*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Poiret One', cursive;
    -webkit-overflow-scrolling:touch;
    overflow-x:hidden;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    outline: 0 !important;
}

.headline {
    color: white;
    font-size: 6vw;
}

.titles {
    margin-top: 1.5em;
    font-size:2em;
}

.date {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size:1.5em;
}

h1 {
    color: $salmon;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #484848;
}

section {
    text-align: center;
    padding:.5em 0;
    overflow:auto;
}

img{
    width:100%;
}

#location{
    background:#F2F2F2;
}

.content {
    margin:2em;
}


.hidden {
    display: none !important;
}

.display {
    display: block;
}
